__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.env
.env.*
.vscode/
.idea/
.pytest_cache/
instrucciones.md
service_account.json
docs_traning/
tenzor_nova_training_plan.md